
<ion-content padding text-align="center">
  <ion-row>
    <ion-col col-center text-center>
          <h2>Bem vindo ao MFD!</h2>
    </ion-col>
  </ion-row>
  <ion-card>
    <ion-card-header>
      Já treino hoje?
    </ion-card-header>
    <ion-card-content *ngIf="(treinos | async)?.length>0; else selectTreino">
      <p>Escolha o treino e registre seu progresso!</p>
      <ion-list>
      <ion-item>
        <ion-label>Treino</ion-label>
        <ion-select [(ngModel)]="treino">
          <ion-option *ngFor="let treino of treinos | async" value="{{treino.id}}">{{ treino.name }}</ion-option>
        </ion-select>
      </ion-item>
      </ion-list>
      <button [disabled]="!treino" ion-button color="dark" (click)="novoProgresso()">Novo Progresso</button>
    </ion-card-content>

    <ng-template #selectTreino>
      <ion-card-content>
        <p>Você ainda não cadastrou nenhum treino =(</p>
      </ion-card-content>
    </ng-template>
  </ion-card>

  <ion-card>
    <ion-card-header >
      <ion-toolbar>
        <ion-row text-center>
          <ion-col col-sm-2 col-md-4>
            <button ion-button icon-only color="dark" small>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-sm-8 col-md-4 padding>
              <ion-title>{{ hojePtBr }}</ion-title>
          </ion-col>
          <ion-col col-sm-2 col-md-4>
            <button ion-button icon-only color="dark" small>
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="!progressos" >
        <h2>Ainda não treinou? Adicione novos registros!</h2>
      </ion-item>
      <ion-list *ngIf="progressos" >
        <ion-item *ngFor="let progresso of progressos | async" >
          <h2>{{ progresso.treino }}</h2>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
